@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body{
    background: rgb(4, 6, 44);
}


.container{
    z-index:2;
    position: absolute;
    margin:0;
    padding:0;
    top:50%;
    left:50%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    row-gap: 100px;
    
}

.container h1{
    font-size: 3rem;
    color: white;
}

span{
    color: rgb(128, 209, 128);
}
.button-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding-top: 6%;
    column-gap: 30px;
}

button{
    z-index:2;
    width: 200px;
    height: 200px;
    color: white;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(122, 118, 118);
    cursor: pointer;
    border:none;
    font-size: medium;
    transition: .45s;
}

.crit-btn{
    background-color: -moz-linear-gradient(top, #ffafbd 0%, #ffc3a0 100%);
    background: -webkit-linear-gradient(132deg, #ffafbd 0%, #ffc3a0 100%);
    background-color: linear-gradient(132deg, #ffafbd 0%, #ffc3a0 100%);
}

.data-btn{
    background-color: -moz-linear-gradient(top,  #c33764 0%, #1d2671 100%);
    background: -webkit-linear-gradient(132deg, #c33764 0%, #1d2671 100%);
    background-color: linear-gradient(132deg, #c33764 0%, #1d2671 100%);
}

.top-btn{
    background-color: -moz-linear-gradient(top,  #205072 0%, #cff4d2 100%);
    background: -webkit-linear-gradient(132deg, #205072 0%, #cff4d2 100%);
    background-color: linear-gradient(132deg, #205072 0%, #cff4d2 100%);
}

button:hover{
    transform: translateY(6px);
    background: rgb(128, 209, 128) ;

}




/******BACKGROUND*******/
.area{
    background: #1d1d24;  
    background: -webkit-linear-gradient(to left, #5a5a5e, #202122);  
    width: 100%;
    height:100vh;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(51, 133, 48, 0.658);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}