<!DOCTYPE html>
<html>
<head>

    <script type="text/javascript" src = "{{ url_for('static', filename='script/script.js')}}"></script>
    <!-- <link rel="stylesheet" href = "{{ url_for('static', filename='css/style.css')}}"> -->

</head>
  
<body>
    <h1>Seaborn Plot from Pandas DataFrame</h1>
    <img src="data:image/png;base64,{{ popularity_hist_base64 }}" alt="Seaborn Plot">
    <img src="data:image/png;base64,{{ artists_base64 }}" alt="Seaborn Plot">
    <img src="data:image/png;base64,{{ release_date_base64 }}" alt="Seaborn Plot">
    
</body>