<!DOCTYPE html>
<html>
<head>

    <script type="text/javascript" src = "{{ url_for('static', filename='script/script.js')}}"></script>
    <link rel="stylesheet" href = "{{ url_for('static', filename='css/data_style.css')}}">

</head>
  
<body>
    <h1>Seaborn Plot from Pandas DataFrame</h1>
    <img src="data:image/png;base64,{{ popularity_hist_base64 }}" alt="Seaborn Plot">
    <img src="data:image/png;base64,{{ artists_base64 }}" alt="Seaborn Plot">
    <img src="data:image/png;base64,{{ bot_artists_base64 }}" alt="Seaborn Plot">
    <img src="data:image/png;base64,{{ release_date_base64 }}" alt="Seaborn Plot">
    <img src="data:image/png;base64,{{ length_v_pop_base64 }}" alt="Seaborn Plot">
    <img src="data:image/png;base64,{{ artist_len_base64 }}" alt="Seaborn Plot">
    <img src="data:image/png;base64,{{ songs_added_base64 }}" alt="Seaborn Plot">
    <img src="data:image/png;base64,{{ song_pop_base64 }}" alt="Seaborn Plot">
    <img src="data:image/png;base64,{{ song_len_base64 }}" alt="Seaborn Plot">
    
    
    
</body>