<!DOCTYPE html>
<html>
<head>

    <script type="text/javascript" src = "{{ url_for('static', filename='script/script.js')}}"></script>
    <link rel="stylesheet" href = "{{ url_for('static', filename='css/style.css')}}">

</head>

<body>
    <div class = "container">
        <h1> <span> Spotify Library </span> Analyzer</h1>
        <div class = "button-box">
            <a href = "{{ url_for('critiquePage', _external = True)}}">
                <button class = "crit-btn"> CRITIQUE</button>
            </a>
            <a href = "{{ url_for('getTracks', _external = True)}}">
                <button class = "data-btn" > DATA DISTRIBUTION</button>
            </a>
            <a href = "{{ url_for('getTracks', _external = True)}}">
                <button class = "top-btn"> TOP POINTS</button>
            </a>
        </div>
    </div>
    
    <div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >
</body>


</html>